<div class="c_body about-page">
  <%= render '/shared/breadcrumbs' %>

  <div class="sewing-block">
    <div>
      <div class="wrap clearfix">
        <div class="machine"></div>
        <div class="overlay">
          <div class="about-title">
            <h2>Management</h2>
          </div>

          <section id="cto">
            <div class="post-name">CTO</div>

            <div class="circle" id="circle1">
              <div class="animation">
                <div class="item l-lft"><div class="end"></div></div>
                <div class="item l-rgt"><div class="end"></div></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/nikolay_maliarenko.jpg" alt="Nikolay">

                <h3>
                  <strong>Nikolay Maliarenko</strong>
                </h3>

                <div class="social-info">
                  <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
                  <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
                  <a href="http://instagram.com/district2ptco" class="inst" target="_blank"></a>
                  <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
                </div>
              </div>
              
              <div class="desc">
                <span>CTO & Co-Founder</span>
                <p>Nikolay is the founder of the #1 Web Dev company in Ukraine. He heads a team of 19. They are Artists, Graphic Designers, Software Developers, Engineers, SEO & Social Network Specialists.</p>
                <p>He is the embodiment of “all things tech”.</p>
              </div>
            </div>
          </section>

          <section id="cfo">
            <div class="post-name">CFO</div>

            <div class="circle">
              <div class="animation">
                <div class="item"><ins></ins></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/maxim_filippov.jpg" alt="Mike">

                <h3>
                  <strong>Maxim Filippov</strong>
                </h3>

                <div class="social-info">
                  <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
                  <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
                  <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
                </div>
              </div>

              <div class="desc">
                <span>CFO</span>
                <p>5 years in investment banking, 3 years in business consulting, 1 year in private equity. More than 10 successful M&A and project financing engagements.</p>
                <p>Makes other team members' hearts and minds free from worry about financial what-ifs.</p>
              </div>
            </div>
          </section>

          <section id="ceo">
            <div class="post-name">CEO</div>

            <div class="circle">
              <div class="animation">
                <div class="item" id="detail1">
                  <ins></ins>
                </div>
                <div class="item" id="detail2">
                  <ins></ins>
                </div>
                <div class="item" id="detail3"></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/cassie_betts.jpg" alt="Cassie">

                <h3>
                  <strong>Cassie Betts</strong>
                </h3>

                <div class="social-info">
                  <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
                  <a href="http://instagram.com/district2ptco" class="inst" target="_blank"></a>
                  <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
                </div>
              </div>

              <div class="desc">
                <span>CEO &amp; Founder</span>
                <p>With 16 years in the industry, working with such companies as Disney, MGA, Warner Bros and gracing the retail floors of Nordstrom, Bloomingdales, and Target (to name a few), Cassie is a Fashion Virtuoso. </p>
                <p>She is on a mission to technologically advance the garment industry.</p>
              </div>
            </div>
          </section>

          <section id="director">
            <div class="post-name">SMM</div>

            <div class="circle">
              <div class="animation">
                <div class="item" id="gear1"></div>
                <div class="item" id="gear2"></div>
                <div class="item" id="gear3"></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/phillip.jpg" alt="Mike">

                <h3>
                  <strong>Phillip Banks</strong>
                </h3>
              </div>

              <div class="desc">
                <span>Director of Social Media Marketing</span>
                <p>Phillip grew up in inner city Los Angeles and started programming when he was 10 and hasn't left technology since.</p>
                <p>Working with small companies to Fortune 500 companies he is well known in the tech community & embraces web and social media as the way technology can enhance our lives.</p>
              </div>
            </div>
          </section>

          <section id="advisor">
            <div class="post-name">ADV</div>

            <div class="circle">
              <div class="animation">
                <div class="item"></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/alone_alakazia.jpg" alt="Aubrey">

                <h3>
                  <strong>ALONE' Alakazia</strong>
                </h3>

                <div class="social-info">
                  <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
                  <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
                  <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
                </div>
              </div>

              <div class="desc">
                <span>Advisor</span>
                <p>Previous Experience: Designer- Jean Patou, Celine, Lanvin, Thierry Mugler, Balenciaga, Lacroix, Valentino, Jean Paul Gaultier, Chanel, Kenzo, Guy Laroche, Givenchy, Yves Saint Laurent; Senior VP Licensing Baby Phat; VP May Merchandising Co; VP Administrative Designer/Merchandiser Emmanuel Ungaro.</p>
              </div>
            </div>
          </section>

          <section id="cco">
            <div class="post-name">CCO</div>

            <div class="circle">
              <div class="animation">
                <div class="item l-lft"><div class="end"></div></div>
                <div class="item l-rgt"><div class="end"></div></div>
              </div>
            </div>

            <div class="txt">
              <div class="pic">
                <img src="/founders/sean-fitzpatrick.jpg" alt="Sean Fitzpatrick">

                <h3>
                  <strong>Sean Fitzpatrick</strong>
                </h3>
              </div>

              <div class="desc">
                <span>CCO</span>
                <p>A veteran in many areas ranging from music and sound, to film and TV, metal and woodworking, to websites and marketing. Sean has been infatuated with art and technology his whole life, bringing him a sharp eye for detail and a sharp mind for systems and structure.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-sewing-block">
    <%= image_tag 'machine-mobile.png' %>
  </div>

  <div class="about-text">
    <div class="wrap">
      <h3>What is <span>D2?</span></h3>
      <p>
        District2 is a B2B collaborative online platform within the shared economy maker's space. <br>
        New fashion designers don’t know where to get their prototypes made. Where do I find this screen-printer? This dye house? This Factory? District2 is an online B2B platform that helps designers get prototypes made in half the time, at half the price with 90% less stress. Our free search directory allows users to search our virtual garment district for contractors & service providers. <br>
        Designers can also post their projects and receive competitive bids from factories and other service providers.  They will be able to leave ratings, reviews and hire contractors safely within District2.
      </p>
    </div>
  </div>

  <div class='row' id="team">
    <div class="wrap">
      <div class="managers-mobile">
        <h2 class="title-lined"><span>MANAGEMENT</span></h2>

        <!-- CEO -->
        <div class="person">
          <div class="pic">
            <img src="/founders/cassie_betts.jpg" alt="Cassie">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Cassie Betts</strong>
              <span>CEO</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://instagram.com/district2ptco" class="inst" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>With 16 years in the industry, working with such companies as Disney, MGA, Warner Bros and gracing the retail floors of Nordstrom, Bloomingdales, and Target (to name a few), Cassie is a Fashion Virtuoso. </p>
            <p>She is on a mission to technologically advance the garment industry.</p>
          </div>
        </div>
        
        <!-- CTO -->
        <div class="person">
          <div class="pic">
            <img src="/founders/nikolay_maliarenko.jpg" alt="Nikolay">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Nikolay Maliarenko</strong>
              <span>CTO</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://instagram.com/district2ptco" class="inst" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>
            
          <div class="txt">
            <p>Nikolay is the founder of the #1 Web Dev company in Ukraine. He heads a team of 19. They are Artists, Graphic Designers, Software Developers, Engineers, SEO & Social Network Specialists.</p>
            <p>He is the embodiment of “all things tech”.</p>
          </div>
        </div>

        <!-- CFO -->
        <div class="person">
          <div class="pic">
            <img src="/founders/maxim_filippov.jpg" alt="Mike">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Maxim Filippov</strong>
              <span>CFO</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>5 years in investment banking, 3 years in business consulting, 1 year in private equity. More than 10 successful M&A and project financing engagements.</p>
            <p>Makes other team members' hearts and minds free from worry about financial what-ifs.</p>
          </div>
        </div>

        <!-- CCO -->
        <div class="person">
          <div class="pic">
            <img src="/founders/sean-fitzpatrick.jpg" alt="Sean Fitzpatrick">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Sean Fitzpatrick</strong>
              <span>CCO</span>
              <ins class="bottom"></ins>
            </h2>
          </div>

          <div class="txt">
            <p>A veteran in many areas ranging from music and sound, to film and TV, metal and woodworking, to websites and marketing. Sean has been infatuated with art and technology his whole life, bringing him a sharp eye for detail and a sharp mind for systems and structure.</p>
          </div>
        </div>

        <!-- DIRECTOR -->
        <div class="person">
          <div class="pic">
            <img src="/founders/phillip.jpg" alt="Mike">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Phillip Banks</strong>
              <span>DIRECTOR</span>
              <ins class="bottom"></ins>
            </h2>
          </div>

          <div class="txt">
            <p>Phillip grew up in inner city Los Angeles and started programming when he was 10 and hasn't left technology since.</p>
            <p>Working with small companies to Fortune 500 companies he is well known in the tech community & embraces web and social media as the way technology can enhance our lives.</p>
          </div>
        </div>

        <!-- ADVISOR -->
        <div class="person">
          <div class="pic">
            <img src="/founders/alone_alakazia.jpg" alt="Aubrey">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>ALONE' Alakazia</strong>
              <span>ADVISOR</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>Previous Experience: Designer- Jean Patou, Celine, Lanvin, Thierry Mugler, Balenciaga, Lacroix, Valentino, Jean Paul Gaultier, Chanel, Kenzo, Guy Laroche, Givenchy, Yves Saint Laurent; Senior VP Licensing Baby Phat; VP May Merchandising Co; VP Administrative Designer/Merchandiser Emmanuel Ungaro.</p>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <h2 class="title-lined"><span>Advisory Board</span></h2>

        <div class="person">
          <div class="pic">
            <img src="/founders/tracy_dinunzio.jpg" width="240px" height="240px" alt="Brent">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Tracy Dinunzio</strong>
              <span>Advisor</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>CEO and founder of Tradesy.com and RecycledBride.com. Took Tradesy from 0 to $10mil in 3 years. Expert in E-Commerce, User Experience, SEO, Web Analytics, Online Advertising, Digital Strategy, Social Media Marketing, Entrepreneurship, Mobile Applications, Information Architecture and Start-Ups.</p>
          </div>
        </div>

        <div class="person">
          <div class="pic">
            <img src="/founders/brent_musson.jpg" width="240" height="240" alt="Andre">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Brent Musson</strong>
              <span>Advisor</span>
              <ins class="bottom"></ins>
            </h2> 

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>
              General Partner StoneCreek Partners LLC, Managing Partner materialsDIRECT, Altadena Councilman, Six-Sigma Master Black Belt, International sourcing & logistics consultant, dot-com and mobile app pioneer with Ticketmaster, Disney Online, Skechers, Match.com, Citibank, Evite, Ringling Bros, and more.
            </p>
          </div>
        </div>

        <div class="person">
          <div class="pic">
            <img src="/founders/mike_hunigan.jpg" width="240" height="240" alt="Andre">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Mike Hunigan</strong>
              <span>Advisor</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>Sr Product & Design Manager Answers.com. Responsible for "Project Snuggie" taking The Coupons by Answers from 1000 visitors to a quarter million a day from Black Friday to Cyber Monday alone. Answers.com currently boasts 10million visits per day</p>
          </div>
        </div>

        <div class="person">
          <div class="pic">
            <img src="/founders/andre_stokes.jpg" width="240" height="240" alt="Andre">
          </div>

          <div class="name">
            <h2>
              <ins class="top"></ins>
              <strong>Andre Stokes</strong>
              <span>Advisor</span>
              <ins class="bottom"></ins>
            </h2>

            <div class="social-info">
              <a href="https://www.facebook.com/District2ptCo" class="fb" target="_blank"></a>
              <a href="https://twitter.com/District2ptCo" class="tw" target="_blank"></a>
              <a href="http://www.linkedin.com/company/district2ptco" class="in" target="_blank"></a>
            </div>
          </div>

          <div class="txt">
            <p>Investment Banker, Managing Director at Calabasas Capital. Executed $8billion in transactions at Bear Stearns and Credit Suisse. Corporate finance, buy-side / sell-side mergers and acquisitions, valuation, corporate development, business and strategic planning.</p>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <h2 class="title-lined"><span>Precelerators</span></h2>

        <div class="images">
          <a href="http://stubbsalderton.com/" target="_blank"><img src="/partners/samlogo.png" alt=""></a>
          <a href="http://www.yangventures.com/" target="_blank"><img src="/partners/yv.png" alt=""></a>
          <a href="http://www.yangventures.com/" target="_blank"><img src="/partners/team.jpg" alt=""></a>
        </div>
      </div>

      <div class="clearfix">
        <h2 class="title-lined"><span>Community partners</span></h2>

        <div class="images">
          <a href="https://www.facebook.com/mislamedia" target="_blank"><img src="/partners/misla.jpg" alt="" style="height: 200px;margin-bottom: -30px;"></a>
          <a href="http://manufactureny.org/" target="_blank"><img src="/partners/manufactureny.png" alt=""></a>
          <a href="http://www.seacharter.org/" target="_blank"><img src="/partners/sea.jpg" alt=""></a>
        </div>
      </div>

      <!-- 
      <div class="clearfix">
        <h2 class="title-lined"><span>#Teamd2</span></h2>

        <% @team_members.each do |memeber| %>
          <div class="person">
            <div class="pic">
              <%= image_tag memeber.photo(:medium), width: 240, height: 240 %>
            </div>

            <div class="name">
              <h2>
                <ins class="top"></ins>
                <strong><%= memeber.name %></strong>
                <span><%= memeber.post %></span>
                <ins class="bottom"></ins>
              </h2>

              <div class="social-info">
                <%= link_to '', memeber.link_fb, class: 'fb', target: :blank if memeber.link_fb.present? %>
                <%= link_to '', memeber.link_tw, class: 'tw', target: :blank if memeber.link_tw.present? %>
                <%= link_to '', memeber.link_li, class: 'in', target: :blank if memeber.link_li.present? %>
                <%= link_to '', memeber.link_in, class: 'inst', target: :blank if memeber.link_in.present? %>
              </div>
            </div>

            <div class="txt">
              <p><%= memeber.about %></p>
            </div>
          </div>
        <% end %>
      </div>
      -->

      <br>
    </div>
  </div>
</div>
