<div class="c_body register new_pass">
  <%= render '/shared/breadcrumbs' %>

  <div class="wrap clearfix">
    <h1>PASSWORD RECOVERY</h1>

    <h2 class='title-lined'><span>Good day! Please, enter your new password</span></h2>

    <div class="inputs-big">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          <div class="error" id="password-error"></div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <div class="error" id="password_confirmation-error"></div>
        </div>

        <div class="row cent">
          <%= f.submit "Save", class: "btn-black big save-password" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
